
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorView</title>
</head>
<body>
    <div> 
        系统发生异常，请与您的系统管理员联系并排查问题。
    </div>
    <div>
        或寻求官方技术支持及版本升级等服务，请联系QQ: 279060597
    </div>
</body>
</html>
