
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_LayoutSimpleWithMainMenu.cshtml";

    ViewBag.MainMenu = "Introduction";
}


<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="30">&nbsp;</td>
    </tr>
    <tr>
        <td class="font_black_26">快速入门</td>
    </tr>
    <tr>
        <td height="30">&nbsp;</td>
    </tr>
    <tr>
        <td bgcolor="#D4D4D4" height="1"></td>
    </tr>
    <tr>
        <td height="20">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p style="font-weight:bold">
                            在使用过程中遇到问题，或寻求技术支持及版本升级等服务，请联系QQ: 279060597
                        </p>

                        <p style="margin-top:50px;">
                            欢迎使用升讯威周报与绩效考核系统。<br />
                        </p>
                        <p>
                            <br />
                            一：设置填写周报时的“项目名称”、“子项目“和“完成情况”。<br />
                            <br />
                            <em>请转到“设置”下“周报相关”，选择“项目/子项目”和“完成情况”进行设置。</em>
                        </p>
                        <p>
                            <br />
                            二：要使用考核功能，请设置考核人与被考核人之间的考核关系。<br />
                            <br />
                            <em>请转到“设置”下“周报相关”，选择“考核关系”进行设置。考核人在“考核”界面可以查询并使用“已阅”功能处理被考核人的周报，“已阅”状态的周报将不再允许修改。 </em>
                        </p>
                        <p>
                            <br />
                            三：关于周报填写的时效性：<br />
                            <br />
                            <em>只有周一可以补写上周的周报，超过周一则只能填写本周周报。</em><br />
                        </p>
                        <p>
                            <br />
                            四：关于周报填写页面中的日期选择：<br />
                            <br />
                            <em>如果今天是周一，则可以选择上周一至本周一内的任意一天，如果今天是周二到周五中的某一天，则只能选择本周一到今天中的任意一天。</em><br />
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
